tr {
    border-left: 3px solid white;
}

table th {
    font-size: 13px !important;
    text-align: center;
    padding-bottom: 10px !important;
    font-weight: 700 !important;
    color: #597591 !important;
}

.tbody:hover {
    background-color: #f7f7f7;
    border-left:3px solid #f60;
}
